# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock

# Fichiers générés (Drift, build_runner)
**/*.g.dart
**/*.freezed.dart

# IDE
.idea/
*.iml
.vscode/

# Android
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java
android/.gradle/
android/captures/
android/gradlew.log
*.jks
*.keystore

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/DerivedData/
ios/*.mode1v3
ios/*.mode2v3
ios/*.moved-aside
ios/*.pbxuser
ios/*.perspectivev3
GeneratedPluginRegistrant.swift
.last_build_id

# Divers
*.log
